.title {
  border: 0.063rem solid #e7e7ed;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.personal-data {
  border: 0.063rem solid #e7e7ed;
  border-radius: 0.5rem;
  margin-bottom: 1.9rem;
  padding: 1.25rem;
}

.billing-data {
  border: 0.063rem solid #e7e7ed;
  border-radius: 0.5rem;
  margin-top: 1.9rem;
  padding: 1.25rem;
}

.male {
  position: relative;
  top: 0.625rem;
  width: 12rem;
}

.female {
  margin-left: -5rem;
  position: relative;
  top: 0.625rem;
  width: 12rem;
}

.security-infos #accept-tou {
  margin-left: 0.75rem;
}

.security-infos #read-tou {
  margin-left: 0.813rem;
  margin-right: 56.063rem;
}

.external-buttons {
  padding-left: 1.5rem;
}